name: NodeJS SDK CI

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - support/SDK-V3
      - feature/**
      - bugfix/**
      - dependabot/**
jobs:
  test:
    runs-on: ubuntu-latest
    env:
      NODE_OPTIONS: --max-old-space-size=8192
    strategy:
      fail-fast: false
      matrix:
        node-version: [14.x ,16.x]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'


      - run: |
          npm install
          npm run build --if-present
          npm run ci
        env:
          NODE_OPTIONS: --max-old-space-size=8192

  code-coverage:
    runs-on: ubuntu-latest
    env:
      NODE_OPTIONS: --max-old-space-size=8192

    strategy:
      fail-fast: false
      matrix:
        node-version: [ 14.x ]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - run: |
          npm install
          npm run build --if-present
          npm run test-coverage
        env:
          NODE_OPTIONS: --max-old-space-size=8192

      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}